<h1>Nickname App</h1>
<h3>Robert/Bob/Bobby/Rob Cunningham</h3>
<p>
  Robert has been known by many nicknames over his lifetime. Are you acquainted with Robert? What is a nickname you have known him as?
</p>
