<div class="panel panel-default main">
  <div class="panel-body">

    <h1>Robert "<small>Random n_name</small>" Cunningham</h1>
    <h3>A.K.A. Rob, Bob & Bobby</h3>
    <p>
      Robert has had many nicknames. Do you know Robert? Add a nickname you have known him by.
    </p>

    <%= render 'form' %>

    <!-- nicknames listed -->
    <div class="panel panel-default">
      <div class="panel-body">
        <% @nicknames.each do |name| %>
        <%= name.n_name %>,
        <% end %>
      </div>
    </div>

  </div>
</div>
