<h1>Nickname App</h1>
<h3>Robert/Bob/Bobby/Rob Cunningham</h3>
<p>
  Robert has been known by many nicknames over his lifetime. Are you acquainted with Robert? What is a nickname you have known him as?
</p>

<div class="row">
  <div class="col-xs-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Nickname">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Submit</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->
